<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hannah Wynn Jones</title>
  <link rel="icon" type="image/png" href="assets/images/favicon.png" sizes="32x32" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/f3566f1806.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1qHuBxJEYJ6RaYSHiHhnf4YDpAGw57Vk"></script>
  <script src="js/app.js" charset="utf-8"></script>
</head>
  <body>
    <header>
      <nav class="container">
        <ul>
          <li class="menu">&#9776;</li>
          <div class="dropdown">
            <%# <li><a href="#contact">Contact</a></li>%>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#hero">Home</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <h1>404 - Not Found</h1>
      </section>
    </main>
    <footer>
      <p class ="foter" style="font-size: 40px;">
        <a href="https://www.linkedin.com/in/hannahwynnjones/" target="_blank"><i style="color: white; padding: 20px;" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/hannahwynnjones" target="_blank"><i style="color: white;padding: 20px;"  class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/HannahWynnJones" target="_blank"><i style="color: white;padding: 20px;"  class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="mailto:hello@hannahwynnjones.com"><i style="color: white;padding: 20px;"  class="fa fa-envelope" aria-hidden="true"></i></a>
      </p>
    </footer>
  </body>
</html>
