<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coffee Assembly</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" sizes="32x32" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f3566f1806.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1qHuBxJEYJ6RaYSHiHhnf4YDpAGw57Vk"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav class="container">
        <ul>
          <li class="menu">&#9776;</li>
          <div class="dropdown">
            <%# <li><a href="#contact">Contact</a></li>%>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#hero">Home</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">

        <div class="title">
          <div class="l-line"></div>
          <div class="hannah">HANNAH</div>
          <div class="wj">WYNN JONES</div>
          <div class="l-line"></div>
        </div>

        <div class="contact-icons">
          <a href="https://www.linkedin.com/in/hannahwynnjones/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://github.com/hannahwynnjones" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://twitter.com/HannahWynnJones" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="mailto:hello@hannahwynnjones.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>

        <div class="project-div">
          <p>
            <a href="#about">About</a>
          </p>
          <p>
            <a href="#projects">Projects</a>
          </p>
          <%# <p>
            <a href="#contact">Contact</a>
          </p>%>
          <%# <p class="bl">
            <a ui-sref="blogsIndex">Blog</a>
          </p>%>
        </div>

        <div class="fs">junior web developer</div>
        <div class="line-proj"></div>

      </section>
      <div class="container">
        <section id="about">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">

              <div class="left">
                <img src="assets/images/me.jpg" alt="HWJ}">
              </div>

              <div class="right">
                <h1>Hannah wynn jones</h1>
                <p>As an aspiring developer, I am a keen problem solver and coding enthusiast. My Economics degree lead me to a career in finance where I picked up some fantastic skills, but still wanted to be more creative and able to actually build something. I took the plunge and have never looked back.</p>

                  <p>I’m currently looking for a role in a forward-thinking company which challenges me everyday and where I’m able to expand my knowledge and skillset.</p>

                  <h3>Interests</h3>

                    <p>Having lived in ski resorts all over the world, it's no suprise that I LOVE the white stuff!  My favourite place to ski was Japan which was incredible.</p>
                    <p>I’m also a great a cook and love a good bake sale (doesn’t have to be a bake sale, any excuse will do to whip out the butter-icing and sprinkles).</p>
              </div>

            </div>
          </div>
        </section>

        <section id="projects">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <div class="project-div">
                <h2>PROJECTS</h2>

                  <p>The projects in the projects section were completed while being a student at General Assembly in London on their 12 week Web Development Immersive Course. </p>

                <div class="row">
                  <div class="col-sm-6">
                    <h4>GET YOUR OWN BACK!</h4>
                    <div class="image image-one"></div>
                    <div class="icons">
                      <a href="https://github.com/hannahwynnjones/projectOne.2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://damp-plateau-60284.herokuapp.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h4>Rate my bake</h4>
                    <div class="image image-two"></div>
                    <div class="icons">

                    <a href="https://github.com/hannahwynnjones/projectOne.2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://blooming-falls-61034.herokuapp.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <h4>Fabric</h4>
                    <div class="image image-three"></div>
                    <div class="icons">
                    <a href="https://github.com/hannahwynnjones/project-3-forked" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://guarded-refuge-81006.herokuapp.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <h4>Go big or go home</h4>
                    <div class="image image-four"></div>
                    <div class="icons">
                    <a href="https://github.com/hannahwynnjones/project-4-frontend" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://sleepy-tor-76650.herokuapp.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                </div>
              </div>

                <%# <p class="bl">
                  <a ui-sref="blogsIndex">Blog</a>
                </p>%>

              </div>
            </div>
          </div>
        </section>

<%# <section id=skills>
  <div class="row">

<h2>Skills and CV</h2>

<div class="left col-md-6">
  <div class="imageb">
    <img src="assets/images/mountain.jpg" alt="">
  </div>

  <div class="cv-block">
    <h2>CV</h2>
    <div class="pdf">
      <a href="assets/docs/cv.pdf" target="_blank">CV</a>
    </div>
  </div>
</div>
<div class="right col-md-6">

  <div class="skills-div">
    <div class="tech">
      <div class="skills">
      <h3>TECH SKILLS</h3>
      <ul>
        <li>(order of confidence)</li>
        <li>HTML5</li>
        <li>CSS and SCSS</li>
        <li>JavaScript and jQuery</li>
        <li>Angular.js</li>
        <li>Node.js and Express</li>
        <li>Oauth and third-part APIs</li>
        <li>Responsive web design</li>
        <li>Testing and TDD</li>
        <li>Bootstrap</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>NoSQL and SQL</li>
        <li>MongoDB</li>
        <li>Looking at next: React</li>
        <li> </li>
      </ul>
    </div>
    </div>
    <div class="line-skill"></div>
    <div class="soft">
      <div class="skills">
        <h3>SOFT SKILLS</h3>
        <ul>
          <li>Stand up</li>
          <li>Detail orientated</li>
          <li>Trouble-shooter and bug-squasher</li>
          <li>Flexible</li>
          <li>Organised</li>
          <li>Team player</li>
          <li>Public speaker</li>
          <li>Empathetic</li>
          <li>Dedicated</li>
          <li>Desire to learn</li>
          <li>Time management</li>
          <li>Team player</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</section>%>

        <%# <section id="contact">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">

              <h2>Contact</h2>

              <div class="contacting">
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i><p>/hannahwynnjones/</p>
              </div>


              <div class="block">
                <p><a href="https://www.linkedin.com/in/hannahwynnjones/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a><p>/hannahwynnjones/</p>
              </div>
              <div class="contact-icons2">

                <div class="block">
                  <a href="https://github.com/hannahwynnjones" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><p>/hannahwynnjones/</p>
                </div>
                <div class="block">
                  <a href="https://twitter.com/HannahWynnJones" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a><p>/hannahwynnjones</p>
                </div>
                <div class="block">
                  <a href="mailto:hello@hannahwynnjones.com"><i class="fa fa-envelope" aria-hidden="true"></i></a><p>hello@hannahwynnjones.com/</p>
                </div>
              </div>
            </div>

          </div>
        </section>%>

      </div>
    </main>
    <footer>
      <p class ="foter" style="font-size: 40px;">
        <a href="https://www.linkedin.com/in/hannahwynnjones/" target="_blank"><i style="color: white; padding: 20px;" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/hannahwynnjones" target="_blank"><i style="color: white;padding: 20px;"  class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/HannahWynnJones" target="_blank"><i style="color: white;padding: 20px;"  class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="mailto:hello@hannahwynnjones.com"><i style="color: white;padding: 20px;"  class="fa fa-envelope" aria-hidden="true"></i></a>
      </p>
    </footer>
  </body>
</html>
